<div class="container">
  <h1 class="headline">{{ pageTitle }}</h1>

  <!-- *ngFor="let doc of documents" Angular + TypeScript way of est js for loop over our documents collection -->
  <div class="card spacer_1" *ngFor="let doc of documents">
    <img class="card-img-top" src="{{ doc.image_url }}" alt="Card image cap" width="100%">

    <div class="card-block">
      <!-- {{}} Angular equivalent of Rails #{} erb -->
      <h4 class="card-title">{{ doc.title }}</h4>

      <p class="card-text">{{ doc.description }}</p>

      <div>
        <a class="btn btn-large btn-primary" href="{{ doc.file_url }}">Download File</a>
      </div>

      <p class="card-text"><small class="text-muted">{{ doc.updated_at }}</small></p>
    </div>
  </div>
</div>
