<div class="container">
  <div class="list-group">
    <a class="list-group-item list-group-item-action active">
      <h1>Proposal List</h1>
    </a>
    <span *ngFor="let proposal of proposals" class="list-group-item list-group-item-action flex-column align-items-start">
      <a routerLink="/proposal/{{ proposal.id }}" class="proposal-link">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ proposal.customer }}</h5>
        </div>
        <p class="mb-1">{{ proposal.hourly_rate * proposal.estimated_hours }}</p>
      </a>
    </span>
  </div>
</div>
