<h1>Create a Proposal</h1>

<div>
  <!-- #proposalForm="ngForm" sets name and type of form  -->
  <form #proposalForm="ngForm">
    <div class="form-group">
      <label for="customer">Customer Name</label>
      <!--  Last 2 lines we set input value the Angular way -->
      <input type="text"
             id="customer"
             placeholder="ABC Company"
             required
             name="customer"
             #customer='ngModel'
             [(ngModel)]="proposal.customer"
      >
    </div>
  </form>

  <div>
    {{ proposal.customer }}
  </div>
</div>
